$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000 !default;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$color-primary-0: #8DA336;
$color-primary-1: #E4F5A3;
$color-primary-2: #B7CC66;
$color-primary-3: #667A14;
$color-primary-4: #415200;

$theme-colors: (
  primary: $color-primary-0, //#556B2F,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);


// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-900; // $white;
$body-color: $gray-100; // $gray-900;

// Links
//
// Style anchor elements.

$link-color: $color-primary-0; //theme-color("primary");
$link-decoration: none;
$link-hover-color: lighten($link-color, 15%);//darken($link-color, 15%);
$link-hover-decoration: underline;

$modal-content-bg: $gray-700; //$white !default;
$close-color: $white; //$black !default;

$font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:  "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

.navbar {
  background-color: $color-primary-4;
  margin-bottom: 2px; 
}

@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap/scss/bootstrap-grid";
@import "./node_modules/bootstrap/scss/bootstrap-reboot";
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/font-awesome/scss/font-awesome";

