<html>
<% include head.ejs %>
<style>
  a:link, a:visited, a:hover, a:active { cursor: inherit; }
</style>
<body>
<div class="container">
  <% include title.ejs %>
  <div class="row">
    <div id="bookmarks" class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <p class="text-right">
        <button id="save" class="btn btn-primary"><span class="fa fa-save"></span> Zapisz</button>
        <button id="refresh" class="btn btn-danger"><span class="fa fa-refresh"></span> Odśwież</button>
      </p>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="folder-edit" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Folder</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="folder-name" class="form-control-label">Nazwa:</label>
              <input type="text" class="form-control" id="folder-name" placeholder="" autofocus>
            </div>
          </form>        </div>
        <div class="modal-footer">
          <button id="folder-apply" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="modal fade" id="link-edit" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Zakładka</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="link-name" class="form-control-label">Nazwa:</label>
              <input type="text" class="form-control" id="link-name" placeholder="" autofocus>
            </div>
            <div class="form-group">
              <label for="link-address" class="form-control-label">Adres:</label>
              <input type="text" class="form-control" id="link-address">
            </div>
          </form>        
        </div>
        <div class="modal-footer">
          <img id="link-favicon" width="32" height="32" alt="Ikona strony" class="mr-auto">
          <div id="link-spinner" class="mr-auto"></div>
          <button id="link-apply" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
</body>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
  startAjax("#bookmarks", "#bookmarks", "http://jkpluta.github.io", "/<%- data %>", updateBookmarks)
});
$('#save').click(function() {
  var bookmarks = $('#bookmarks').clone()
  $('.jkp', bookmarks).remove()
  commit(bookmarks.html(), 'temp-<%- data %>')
})
$('#refresh').click(function() {
  startAjax("#bookmarks", "#bookmarks", "http://jkpluta.github.io", "/<%- data %>", updateBookmarks)
})
</script>
<script type="text/javascript">
  $('#link-edit').on('show.bs.modal', function () {
    $('#link-favicon').attr('src', '')
    $('#link-favicon').hide()
  })
  $('#link-edit').on('shown.bs.modal', function () {
    findFavicon('#link-favicon','#link-spinner', $('#link-address').val())
  })
  $('#link-address').on('blur', function () {
    findFavicon('#link-favicon','#link-spinner', $('#link-address').val())
  })
</script>
</html>
