<html>
<% include head.ejs %>
<body>
<div class="container">
  <% include title.ejs %>
  <div class="row">
    <div id="bookmarks" class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <p class="text-right">
        <button id="save"><span class="fa fa-save"></span> Zapisz</button>
      </p>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="folder-edit" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Folder</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="folder-name" class="form-control-label">Nazwa:</label>
              <input type="text" class="form-control" id="folder-name" placeholder="" autofocus>
            </div>
          </form>        </div>
        <div class="modal-footer">
          <button id="folder-apply" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="modal fade" id="link-edit" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Zakładka</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="link-name" class="form-control-label">Nazwa:</label>
              <input type="text" class="form-control" id="link-name" placeholder="" autofocus>
            </div>
            <div class="form-group">
              <label for="link-address" class="form-control-label">Adres:</label>
              <input type="text" class="form-control" id="link-address">
            </div>
          </form>        </div>
        <div class="modal-footer">
          <button id="link-apply" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="modal fade" id="auth-edit" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Logowanie</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="auth-username" class="form-control-label">Użytkownik:</label>
              <input type="text" class="form-control" id="auth-username" placeholder="" autofocus>
            </div>
            <div class="form-group">
              <label for="auth-password" class="form-control-label">Hasło:</label>
              <input type="password" class="form-control" id="auth-password">
            </div>
          </form>        </div>
        <div class="modal-footer">
          <button id="auth-apply" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
</body>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
  startAjax("#bookmarks", "#bookmarks", "http://jkpluta.github.io", "/<%- data %>", updateBookmarks)
});
  $('#save').click(function() {
    var bookmarks = $('#bookmarks').clone()
    $('.jkp', bookmarks).remove()
    commit(bookmarks.html(), 'temp-<%- data %>')
  })
</script>
</html>
