<head>
  <title><%= title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta content="text/html; utf-8" http-equiv="Content-Type">
  <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="./css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
  <style>td, th { font-family: "Arial Narrow", Arial, Helvetica; }</style>
  <script>
    require('./renderer.js')
    const electron = require('electron')
    const $ = require('jquery')
  </script>
</head>
