<html>
<% include head.ejs %>
<body>
<div class="container">
  <% include title.ejs %>
  <div class="row">
    <div class="col">
      <webview src="https://jkpluta.github.io" style="height: 500px;"></webview>
    </div>
  </div>
</div>
</body>
</html>
