<html>
<% include head.ejs %>
<body>
<div class="container">
  <% include title.ejs %>
  <div class="row">
    <div id="spnr" class="col">
    </div>
  </div>
</div>
<div id="main">
</div>
</body>
<script>
$(document).ready(function() {
  runAjax2("#main", "#spnr", "http://jkpluta.github.io", "/index.html")
});
</script>
</html>
