<html>
<% include head.ejs %>
<body>
<div class="container">
  <% include title.ejs %>
  <div class="row">
    <div id="info" class="col">
    </div>
  </div>
</div>
</body>
<script>
$(document).ready(function() {
  startAjax("#info", "#info", "http://jkpluta.github.io", "/info.html", updateAjax)
});
</script>
</html>
