<html>
<% include head.ejs %>
<body>
<div class="container">
  <% include title.ejs %>
  <div class="row">
    <div class="col">
      <h1>Informacje</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div id="spnnr"></div>
        <textarea id="md" class="form-control" rows="12" placeholder="Informacje w formacie MARKDOWN" required></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <p class="text-right">
        <button id="save" class="btn btn-primary"><span class="fa fa-save"></span> Zapisz</button>
        <button id="refresh" class="btn btn-danger"><span class="fa fa-refresh"></span> Odśwież</button>
      </p>
    </div>
  </div>
</div>
<% include github.ejs %>
<script>
  $(document).ready(function() {
    startInfo("/info.html");
  })
</script>
</body>
</html>
