<html>
<% include head.ejs %>
<link href="https://cdn.quilljs.com/1.3.0/quill.snow.css" rel="stylesheet">
<body>
<div class="container">
  <% include title.ejs %>
  <div class="row">
    <div class="col">
      <h1>Informacje</h1>
    </div>
  </div>
  <div class="row">
    <div id="info" class="col">
    </div>
  </div>
  <div class="row">
    <!-- Create the editor container -->
    <div class="col">
      <div id="editor" style="height: 320px;">
      </div>
      <div id="info">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <p class="text-right">
        <button id="save" class="btn btn-primary"><span class="fa fa-save"></span> Zapisz</button>
        <button id="refresh" class="btn btn-danger"><span class="fa fa-refresh"></span> Odśwież</button>
      </p>
    </div>
  </div>
</div>
</body>
<script src="https://cdn.quilljs.com/1.3.0/quill.js"></script>
<script>
$(document).ready(function() {
  renderer.startAjax("#editor", "#info", "http://jkpluta.github.io", "/info.html", updateQuill)
})
var quill = new Quill('#editor', {
  theme: 'snow'
})

function updateQuill(sel, base, html) {
  quill.setText('')
  quill.clipboard.dangerouslyPasteHTML(0, html)
}

$('#save').click(function() {
  var info = quill.root.innerHTML
  renderer.commit(info, 'info.html')
})
$('#refresh').click(function() {
  renderer.startAjax("#editor", "#info", "http://jkpluta.github.io", "/info.html", updateQuill)
})
</script>
</html>
