<% if (target === 'www') { %>
  <div class="row">
    <div class="col col-6 text-left small">
      Copyright © 2017 Jan K. Pluta
    </div>
    <div class="col col-6 text-right small">
      Wersja <%- version %>
    </div>
  </div>
<% } %>
  
