<html>
<% include head.ejs %>
<body>
<div class="container">
  <% include nav.ejs %>
  <div class="row">
    <div id="spnnr" class="col">
    </div>
  </div>
</div>
<div id="main">
</div>
</body>
<script>
$(document).ready(function() {
  startMain("/index.html");
});
</script>
</html>
