<html>
<% include head.ejs %>
<body>
<div class="container">
  <% include nav.ejs %>
  <div class="row">
    <div class="col">
      <h1 id="spnnr"></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <textarea id="md" class="form-control" rows="12" placeholder="Informacje w formacie MARKDOWN" required></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <p class="text-right">
        <button id="save" class="btn btn-primary"><span class="fa fa-save"></span> Zapisz</button>
        <button id="refresh" class="btn btn-danger"><span class="fa fa-refresh"></span> Odśwież</button>
      </p>
    </div>
  </div>
  <% include footer.ejs %>
</div>
<% include github.ejs %>
<script>
  $(document).ready(function() {
    startInfo("/info.html");
  })
</script>
</body>
</html>
